.message-container {
  display: flex;
  column-gap: 10px;
  //   flex-direction: row-reverse;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.other {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.name {
  font-size: 1.1rem;
}

.time {
  font-size: 0.7rem;
  color: #75777a;
}

.message {
  margin-top: auto;
  white-space: pre;
}
