.customSelect {
    &__menu {
        margin: 0 !important;
        border-radius: 0 0 11px 11px !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }

    &__menu-list {
        padding: 0 !important;
        border-radius: 0 0 11px 11px !important;
        background-color: #fff !important;
    }

    &__value-container,
    &__dropdown-indicator,
    &__placeholder,
    &__single-value {
        margin: 0 !important;
        padding: 0 !important;
    }

    &__single-value {
        color: #ededed !important;
    }

    &__control,
    &__option {
        cursor: pointer !important;
        color: #ededed !important;
        background-color: #4e5259 !important;
        margin: 0 !important;
        font-weight: 400 !important;
        font-size: 22px !important;
        padding: 14px 16px !important;
    }

    &__control {
        border-radius: 11px !important;
        border: none !important;
        border-bottom: 3px solid #3663be !important;
        box-shadow: none !important;
    }

    &__control--menu-is-open {
        border-radius: 11px 11px 0 0 !important;
    }

    &__indicator-separator {
        display: none;
    }

    &__option:not(:last-child) {
        border-bottom: 1px solid #ededed !important;
    }

    &__option:last-child {
        border-radius: 0 0 11px 11px !important;
    }

    &__option:hover {
        opacity: 0.97 !important;
    }

    &__option:active {
        opacity: 0.94 !important;
    }

    &__option--is-selected {
        opacity: 0.9 !important;
    }
}

.indicator {
    width: 20px;
}
