<div class="main-content">
  <div class="window tile">
    <div class="registration">
      <div class="header">Регистрация</div>
      <div class="form">
        <div class="input-group">
          <div class="label">Почта</div>
          <input type="text" class="input" [(ngModel)]="registrationEmail" />
        </div>
        <div class="input-group">
          <div class="label">Пароль</div>
          <input type="text" class="input" [(ngModel)]="registrationPassword" />
        </div>
        <div class="input-group">
          <div class="label">Повторите пароль</div>
          <input
            type="text"
            class="input"
            [(ngModel)]="registrationRepeatPassword"
          />
        </div>
        <button class="apply-button" (click)="register()">
          Зарегистрироватсья
        </button>
      </div>
    </div>
    <div class="line"></div>
    <div class="auth">
      <div class="header">Авторизация</div>
      <div class="form">
        <div class="input-group">
          <div class="label">Почта</div>
          <input type="text" class="input" [(ngModel)]="authLogin" />
        </div>
        <div class="input-group">
          <div class="label">Пароль</div>
          <input type="text" class="input" [(ngModel)]="authPassword" />
        </div>
        <button class="apply-button" (click)="login()">Войти</button>
      </div>
    </div>
  </div>
</div>
