html,
body {
  padding: 0;
  margin: 0;
}

body {
  margin-top: 70px;
  color: rgb(173, 186, 199);
  background: rgb(34, 39, 46);
}

.container {
  display: flex;
  column-gap: 25px;
}

.left-column,
.right-column {
  flex-grow: 1;
  flex-basis: 0;
}

.left-column {
  position: sticky;
  top: 70px;
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
}

.content {
  width: 1120px;
}

.tile {
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background: rgb(24, 29, 36);
}

.apply-button {
  margin-top: auto;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: rgb(34, 39, 46);
  color: rgb(173, 186, 199);
  padding: 6px 0;
  box-sizing: border-box;
  border-radius: 3px;
}

.apply-button:hover {
  background: rgba(34, 39, 46, 0.9);
}

.apply-button:active {
  background: rgba(34, 39, 46, 0.8);
}
