html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: rgb(173, 186, 199);
  background: rgb(34, 39, 46);
}

.container {
  padding: 50px 0;
  box-sizing: border-box;
  display: flex;
  column-gap: 25px;
}

.left-column,
.right-column {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  position: sticky;
  top: 50px;
  align-self: flex-start;
}

.left-column {
  justify-content: flex-end;
}

.right-column {
  justify-content: flex-start;
}

.content {
  width: 1020px;
}

.tile {
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background: rgb(24, 29, 36);
}

.apply-button {
  // margin-top: auto;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: rgb(34, 39, 46);
  color: rgb(173, 186, 199);
  padding: 6px 0;
  box-sizing: border-box;
  border-radius: 3px;
}

.apply-button:hover {
  background: rgba(34, 39, 46, 0.9);
}

.apply-button:active {
  background: rgba(34, 39, 46, 0.8);
}

.bright-input {
  border: 1px solid rgba(0, 0, 0, 0);
  outline: none;
  box-sizing: border-box;
  height: 34.8px;
  padding: 2px 6px;
  font-size: 1rem;
  background: rgb(34, 39, 46);
  color: rgb(173, 186, 199);
  border-radius: 3px;
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
}

.scrollable::-webkit-scrollbar {
  width: 0.35vw;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 0.83vw;
  background-color: rgba(173, 186, 199, 0.5);
}

.modal-container {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  z-index: 6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background: rgb(24, 29, 36);
}

.modal-background {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
