<div class="container">
  <div class="left-column">
    <app-left-menu></app-left-menu>
  </div>
  <div class="content">
    <div class="profile">
      <img class="avatar tile" />
      <div class="profile-right">
        <div class="profile-top">
          <div class="profile-info tile">
            <div class="name">Сергеев Артём</div>
            <div class="line"></div>
            <div class="other-info">
              <div class="entry">Город</div>
              <div class="entry">Усть-подзалупинск</div>
              <div class="entry">Дата рождения</div>
              <div class="entry">Родился в 70-м году</div>
              <div class="entry">Пол</div>
              <div class="entry">Линолеум</div>
            </div>
          </div>
        </div>
        <div class="wall">
          <app-publication></app-publication>
        </div>
      </div>
    </div>
  </div>
  <div class="right-column"></div>
</div>
