<div class="container">
  <div class="left-column">
    <app-left-menu></app-left-menu>
  </div>
  <div class="content">
    <div class="profile">
      <div class="avatar-container tile">
        <img
          class="avatar"
          src="{{ apiUrl + '/file/' + user.avatar }}"
          onerror="this.onerror=null; this.src='assets\\images\\nophoto.svg'"
        />
        <input
          *ngIf="viewedByMe"
          type="file"
          class="avatar-selector"
          (change)="selectAvatar($event)"
        />
        <button
          class="apply-button avatar-button"
          *ngIf="avatar"
          (click)="updateAvatar()"
        >
          Загрузить
        </button>
        <button
          class="apply-button avatar-button"
          *ngIf="viewedByAuthorized && !viewedByMe && !isFriend"
          (click)="addFriend()"
        >
          Добавить в друзья
        </button>
        <button
          class="apply-button avatar-button"
          *ngIf="viewedByAuthorized && !viewedByMe && isFriend"
          (click)="removeFriend()"
        >
          Удалить из друзей
        </button>
      </div>
      <div class="profile-right">
        <div class="profile-top">
          <div class="profile-info tile">
            <div class="name">{{ user.first_name }} {{ user.last_name }}</div>
            <div class="line"></div>
            <div class="other-info">
              <div class="entry">Город</div>
              <div class="entry" *ngIf="isRedacting === false">
                {{ user.city === null ? "Не указано" : user.city.name }}
              </div>
              <div class="entry" *ngIf="isRedacting === true">
                <app-dropdown-select
                  [options]="cities"
                  [(selectedOption)]="user.city"
                ></app-dropdown-select>
              </div>
              <div class="entry">Дата рождения</div>
              <div class="entry" *ngIf="isRedacting === false">
                {{
                  user.birth_date === null
                    ? "Не указано"
                    : (user.birth_date | date: "longDate")
                }}
              </div>
              <div class="entry" *ngIf="isRedacting === true">
                <input
                  type="date"
                  class="info-input bright-input"
                  [(ngModel)]="user.birth_date"
                />
              </div>
              <div class="entry">Пол</div>
              <div class="entry" *ngIf="isRedacting === false">
                {{ user.sex === null ? "Не указано" : user.sex.name }}
              </div>
              <div class="entry" *ngIf="isRedacting === true">
                <app-dropdown-select
                  [options]="sexes"
                  [(selectedOption)]="user.sex"
                ></app-dropdown-select>
              </div>
              <div class="entry">Телефон</div>
              <div class="entry" *ngIf="isRedacting === false">
                {{ user.phone === null ? "Не указано" : user.phone }}
              </div>
              <div class="entry" *ngIf="isRedacting === true">
                <input
                  type="text"
                  class="info-input bright-input"
                  [(ngModel)]="user.phone"
                />
              </div>
            </div>
            <div class="buttons" *ngIf="viewedByMe">
              <button
                class="apply-button"
                *ngIf="isRedacting"
                (click)="revertUserChanges()"
              >
                Отмена
              </button>
              <button
                class="apply-button"
                *ngIf="isRedacting"
                (click)="saveUserChanges()"
              >
                Сохранить
              </button>
              <button
                class="apply-button"
                *ngIf="!isRedacting"
                (click)="redact()"
              >
                Редактировать
              </button>
            </div>
          </div>
        </div>
        <div
          class="post-publication tile"
          *ngIf="viewedByAuthorized && viewedByMe"
        >
          <textarea
            class="publication-text"
            placeholder="Текст публикации"
            [(ngModel)]="publicationText"
          ></textarea>
          <div class="publication-image-container" *ngIf="publicationImageUrl">
            <div class="publication-image-wrapper">
              <img
                src="assets\images\close.svg"
                class="close-icon"
                (click)="removeImage()"
              />
              <img [src]="publicationImageUrl" class="publication-image" />
            </div>
          </div>
          <div class="publication-button-wrapper">
            <div class="dropzone">
              <img src="assets\images\paperclip.svg" class="paperclip" />
              <input
                type="file"
                class="image-input"
                (change)="uploadImage($event)"
              />
            </div>
            <button
              class="apply-button post-publication-button"
              (click)="postPublication()"
            >
              Опубликовать
            </button>
          </div>
        </div>
        <div class="wall">
          <app-publication
            *ngFor="let publication of publications"
            [publication]="publication"
            [user]="user"
          ></app-publication>
        </div>
      </div>
    </div>
  </div>
  <div class="right-column"></div>
</div>
