.AvatarSection {
    position: sticky;
    width: fit-content;
    align-self: flex-start;
    top: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
        width: 200px;
        height: 200px;
        display: block;
    }

    .link {
        text-decoration: none;
    }

    .redact-button {
        font-weight: 600;
        font-size: 16px;
        color: #ededed;
        padding: 8px 0;
        background: #3663be;
        border-radius: 8px;
        text-decoration: none;
    }
}
