body {
    margin: 0;
    background-color: #292b2f;
    min-width: 100vw;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: none;
    outline: none;
}

#root {
    height: 100vh;
}

h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #ededed;
    margin: 0;
    padding: 0;
}

label {
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #ededed;
    margin-bottom: 7px;
    display: block;
}

.input {
    background: #4e5259;
    /* border: 3px solid rgba(0, 0, 0, 0); */
    margin: 3px 3px 0;
    border: none;
    border-bottom: 3px solid #3663be;
    border-radius: 11px;
    padding: 14px 16px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 22px;
    line-height: 16px;
    color: #ededed;
}

.input:focus {
    border: 3px solid #3663be;
    margin: 0;
}

.panel {
    background: #383a40;
    border-radius: 11px;
    box-sizing: border-box;
}

.apply-button {
    cursor: pointer;
    border: none;
    outline: none;
    cursor: pointer;
    background: #3663be;
    border-radius: 11px;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    color: #ededed;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
}

.apply-button:hover:not(:disabled) {
    opacity: 0.95;
}

.apply-button:active:not(:disabled) {
    opacity: 0.8;
}

.apply-button:disabled {
    background: #5f646d;
    cursor: not-allowed;
}

.input-error {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #ea3a3a;
    letter-spacing: 0.7px;
}
