.ProfileInfo {
    padding: 20px;
    box-sizing: border-box;
    width: 830px;

    .name {
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        color: #ededed;
        margin-bottom: 10px;
    }

    .horizontal-line {
        background: #3663be;
        border-radius: 2px;
        height: 3px;
        width: 100%;
    }

    .info-section {
        display: grid;
        grid-template-columns: 160px 1fr;
        column-gap: 100px;
        row-gap: 15px;
        margin-top: 40px;
    }

    .info-section:last-child {
        margin-bottom: 20px;
    }

    .info-section:not(:last-child) {
        margin-bottom: 40px;
    }

    .info-label {
        font-weight: 400;
        font-size: 20px;
        color: #c4c4c4;
    }

    .info-entry {
        font-weight: 400;
        font-size: 22px;
        color: #ededed;
    }

    .section-break {
        display: flex;
        column-gap: 8px;
        align-items: center;
    }

    .section-name {
        white-space: nowrap;
        font-weight: 400;
        font-size: 18px;
        color: #ededed;
    }
}
