.Publication {
    padding: 20px;
    box-sizing: border-box;
    width: 830px;

    .info {
        display: flex;
        column-gap: 30px;
        margin-bottom: 30px;
    }

    .avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }

    .name {
        font-weight: 400;
        font-size: 24px;
        color: #ededed;
    }

    .time {
        font-weight: 400;
        font-size: 18px;
        color: #c4c4c4;
    }

    .content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-bottom: 30px;
    }

    .text {
        font-weight: 400;
        font-size: 18px;
        color: #ededed;
    }

    .image {
        max-width: 100%;
        min-width: 50%;
        align-self: center;
        max-height: 500px;
    }

    .like-container {
        outline: none;
        padding: 6px 15px;
        border: 3px solid;
        border-radius: 30px;
        display: flex;
        column-gap: 10px;
        align-items: center;
        width: fit-content;
        background-color: transparent;
    }

    .heart {
        height: 22px;
    }

    .like-count {
        font-weight: 400;
        font-size: 18px;
        color: #ededed;
        user-select: none;
    }
}
